html,
body {
  margin: 0;
  height: 100%;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  position: relative;
  height: 100%;
}
img {
  width: 100px;
  position: absolute;
  top: 48%;
  left: 48%;
  transform: translate(-52%, -52%);
  animation: zoominout 5s infinite;
}

@keyframes zoominout {
  0% {
    transform: scale(0.5, 0.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.5, 0.5);
  }
}
