<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celebration's Countdown</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div>
      <a href="/dash">
        <img src="img/confetti.png" alt="Confetti Picture" />
      </a>
    </div>
  </body>
</html>
