<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celebration's Countdown</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/noti.css" />

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/" class="active">
        <img src="/img/favicon-32x32.png" alt="Celebrations Countdown" />
      </a>
      <div class="header-right">
        <a href="/dash">
          <img src="/img/dashboard.png" alt="dashboard" />
        </a>
        <a href="/add">
          <img src="/img/add.png" alt="profile" />
        </a>
        <a href="/profile">
          <img src="/img/profile.png" alt="profile" />
        </a>
        <a class="active" href="/noti">
          <img src="/img/noti.png" alt="noti" />
        </a>
      </div>
    </div>
    <div class="chatBox">
      <h1></h1>
    </div>
    <div class="chatType">
      <input type="text" name="chat" class="message" />
      <button onclick="sendMessage()">Send Message</button>
    </div>

    <script>
      const socket = io("http://localhost:3000");
      socket.on("connection");

      socket.on("message", (data) => {
        document.querySelector("h1").innerHTML = data;
      });

      const sendMessage = () => {
        const messageInput = document.querySelector(".message");
        const message = messageInput.value;
        socket.emit("message", message);
      };
    </script>
  </body>
</html>
